<%- include('partials/header.ejs') %>

<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light"> Library 📚 </h1>
        <p class="lead text-body-secondary">
          The library system is currently under development to enhance its features and functionality, aiming to provide an improved and user-friendly experience for patrons. As continuous refinements are made, users can anticipate an evolving system that caters to their needs and promotes efficient access to a diverse range of resources.</p>
        <p>
          <a href="/books" class="btn btn-primary my-2"> Search books</a>
          <a href="#" class="btn btn-secondary my-2">Check our location</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row">
        <% books.forEach(book => { %>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="<%= book.coverUrl %>" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="<%= book.title %>">
                    <div class="card-body">
                        <h5 class="card-title"><%= book.title %></h5>
                        <p class="card-text">Author: <%= book.author %></p>
                        <p class="card-text">Year: <%= book.year %></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/books/<%= encodeURIComponent(book.title) %>"> See details </a></button>
                                <button type="button" class="btn btn-sm btn-outline-secondary"><a href = "/login"> Borrow book </a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>

</main>


<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    


    <%- include('partials/footer.ejs') %>